:root {
  text-align: center;
  margin: 0;
  background-color: bisque;
}

button {
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
}

button:hover {
  background-color: blueviolet;
  color: aqua;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px; 
  width: 30%;
  margin: auto;
}

img {
  width: 100px; 
  height: 150px;  
}

.card {
  position: relative;
}

.frontside {
  display: none;
  position: absolute;
  transition-delay: 2006ms;
}

.backside{
  transition: all ease-in 3006ms;
  transition-delay: 2006ms;
}

.flipped .frontside {
  display: block;
  transition-delay: 2006ms;
}

.flipped .backside{
  display: none;
}
