:root {
  text-align: center;
  margin: 0;
  background-color: bisque;

}

button {
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
}

button:hover {
  background-color: blueviolet;
  color: aqua;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  

  
}

img {
  width: 150px;
  height: 200px;
 
 
}

.card {
  position: relative;
  
  
}

.card .frontside {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .frontside {
  transform: rotateY(0deg);
}
